* {
  box-sizing: border-box;
}

html,
body {
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
  background-color: #f7fafc;
  color: #1a202c;
}

main {
  max-width: 1024px;
  margin: 0 auto;
}

ul {
  list-style-type: none;
  padding-left: 0;
}

li {
  background-color: white;
}

a {
  text-decoration: none;
}

form {
  background-color: white;
  width: 100%;
}

label,
input,
textarea {
  display: block;
  width: 100%;
}

input,
textarea {
  border: 1px solid #ccd6dd;
  border-radius: 4px;
  outline-color: #1a202c;
  padding: 0.5rem;
  margin-bottom: 0.5rem;
}

textarea {
  resize: vertical;
  min-height: 4rem;
}

button {
  text-transform: uppercase;
  border: none;
  padding: 0.75rem 2rem;
  margin: 0.5rem 0;
  color: white;
}

.bg-blue {
  background-color: #4c51bf;
}

.bg-red {
  background-color: #ef5350;
}

.full-width {
  width: 100%;
}

.my-1 {
  margin-top: 1rem;
  margin-bottom: 1rem;
}

.mt-0 {
  margin-top: 0;
}

.ml-1 {
  margin-left: 1rem;
}

.p-1 {
  padding: 1rem;
}

.rounded {
  border-radius: 4px;
}

.shadow {
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
}

.text-center {
  text-align: center;
}

.flex {
  display: flex;
  width: 100%;
  align-items: stretch;
}

.flex-grow {
  flex-grow: 1;
}
