{{ template "header.tmpl" }}

<div id='testui' style='margin-left: 5%'>
  <h2 style="text-align: left">API Tests:</h2>
  <h4>New thread (POST /api/threads/:board)</h4>
  <form action="/api/threads/test" method="post" id="newThread">
    <textarea type='text' placeholder='Thread text...' name='text' required=''></textarea><br>
    <input type='text' placeholder='password to delete' name='password' required=''><br>
    <input type="submit" value="Submit">
  </form>
  <hr>
  <h4>Report thread (PUT /api/threads/:board)</h4>
  <form id="reportThread" method="put" action="/api/threads/test">
    <input type='text' placeholder='id to report' name='id' required=''><br>
    <input type="submit" value="Submit">
  </form>
  <hr>
  <h4>Delete thread (DELETE /api/threads/:board)</h4>
  <form id="deleteThread">
    <input type='text' placeholder='board' id='board3' name='board' required=''><br>
    <input type='text' placeholder='id to delete' name='id' required=''><br>
    <input type='text' placeholder='password' name='delete_password' required=''><br>
    <input type="submit" value="Submit">
  </form>
  <hr>


  <h4>New reply (POST /api/replies/:board)</h4>
  <form action="/api/threads/test" method="post" id="newReply">
    <input type='text' placeholder='thread id' name='thread_id' required=''><br>
    <textarea type='text' placeholder='Thread text...' name='text' required=''></textarea><br>
    <input type='text' placeholder='password to delete' name='password' required=''><br>
    <input type="submit" value="Submit">
  </form>
  <hr>
  <h4>Report reply (PUT /api/replies/:board)</h4>
  <form id="reportReply">
    <input type='text' placeholder='thread id' name='thread_id' required=''><br>
    <input type='text' placeholder='id to report' name='reply_id' required=''><br>
    <input type="submit" value="Submit">
  </form>
  <hr>
  <h4>Delete reply (DELETE /api/replies/:board)</h4>
  <form id="deleteReply">
    <input type='text' placeholder='thread id' name='thread_id' required=''><br>
    <input type='text' placeholder='id to delete' name='reply_id' required=''><br>
    <input type='text' placeholder='password' name='password' required=''><br>
    <input type="submit" value="Submit">
  </form>
</div>

{{ template "footer.tmpl" }}
